/*
*
* linegame custom css style
*/

body { font-family: "Helvetica Neue", Helvetica, sans-serif;color: #444;-webkit-font-smoothing: antialiased; background-color: #f6f6f6; }

#gheight, #gwidth, #playercount{ width: 40px; } 

#GameArea { width:750px; margin:20px auto; }
#GameArea > span { color: grey; font-size: 200%; font-style:italic; } 
.dot { background-color: rgb(177, 176, 176); width: 10px; height:10px; } 
.undot { background-color: grey !important; } 
.selectablevert, .unselectablevert { width: 60px; height: 10px; cursor:pointer; } 
.selectablehort, .unselectablehort { width: 10px; height: 60px; cursor:pointer; } 
.selected{ background-color: black; } table { border-width: 0px; border-collapse:collapse; }
