/*
*
* linegame custom css style
*/

body { 
    
    padding:0px; margin:0px; font-family: "Helvetica Neue", Helvetica, sans-serif;color: #444;-webkit-font-smoothing: antialiased; background-color: #f6f6f6; }


/* reset */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; }
div, form, ul, li, h1 { margin:0px; padding:0px; }



/*
* HEADER BASE STYLE 
*/
#Header { height:40px; position: fixed;top: 0;right: 0;left: 0;z-index: 1000;-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);box-shadow: 0 2px 3px rgba(0,0,0,.25); background:#333;  }

#Header .main { width:1024px; margin:auto; }
#Header .main .logo-mogo { margin:auto; float:none; width:60px; }
#Header .main .logo-mogo img { width:60px; }

.logo-mogo { width:150px; margin:25px; float:left; }
.logo-mogo img { width:150px; }


/*
* SURFACE BASE STYLE 
*/
#Surface { width: 1024px; min-height:300px; margin:auto; }

ul.form { overflow:hidden; }
ul.form li { margin:0 0 10px 0; }
ul.form li label { display:block; }
ul.form li input { }

div.account,
.player-edit{ width:515px; margin:0px auto; overflow:hidden; padding:0px; }

div.account ul.form { margin:0px 0 0 0; }
div.account ul.form li { width:300px; margin:10px 0 0 0px; }
div.account ul.form li label { margin:0 0 5px 0;  font-size:13px; display:none; }
ul.form li input { border-radius:0px!important; }
div.account ul.form li.button { width:75px; }
div.account ul.form a { border-radius:0px!important; display:block; float:right; margin:3px 0 0 5px; font-size:23px; }

div.signup ul.form { }
div.signup ul.form li { float:none; }

.account.signin, 
.account.signup, 
.account.player-edit { margin-top:50px; }

#SigninForm, 
#Signupform, 
#PlayerEditForm { float:left; border-top:1px solid #ddd; margin:48px 0 0 0 ; }

#SigninForm h1.title, 
#signupForm h1.title, 
#PlayerEditForm h1.title { text-align:center; }

div.signup .errorlist, 
div.signin .errorlist,
div.player-edit .errorlist { font-size:12px; color:rgb(189, 54, 54); margin:10px 0 1px 1px; }

div.statusok { color:rgb(81, 156, 194); font-size:13px; text-align:center; margin-top:10px; }

a.signup { font-size:12px!important; color:rgb(30, 130, 196);  float:left!important; margin-top:10px!important; } 
a.signup:hover { text-decoration:underline; }

/*
*
* FOOTER BASE STYLE
*/
#Footer { }

/*
*
* Signin
*/
#SigninPage #Surface { }



#IndexPage body { padding:40px 0 0 0; }

#OnlinePlayers, 
#OnlineGames { border-top:1px solid #ddd; margin-top:30px; width:300px; }

#OnlinePlayers { float:left; } 
#OnlinePlayers h1 { text-align:center; margin-top:-13px; }
#OnlinePlayers h1 span { font-size:20px; }



/*
*
* Game Base style
*/
#gheight, #gwidth, #playercount{ width: 40px; } 
.dot { background-color: rgb(177, 176, 176); width: 10px; height:10px; } 
.undot { background-color: grey !important; } 
.selectablevert, .unselectablevert { width: 60px; height: 10px; cursor:pointer; } 
.selectablehort, .unselectablehort { width: 10px; height: 60px; cursor:pointer; } 
.selected{ background-color: black; } table { border-width: 0px; border-collapse:collapse; }
